body{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-direction: column;

    height: 100vh;
    
}
li{
    display: inline;
}

html{
    font-family: 'PT Sans', sans-serif;
    background: #22c1c3;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #fdbb2d, #22c1c3);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #fdbb2d, #22c1c3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

h1,h3{
    color: whitesmoke;
    text-shadow: 1px 1px 2px black;
}